general {
  colors = true
  interval = 5
}

order += "window_title"
order += "sysdata"
order += "volume master"
order += "ethernet eth0"
order += "tztime local"

window_title {
}

sysdata {
  cpu_usage
  mem_used_percent
}

tztime local {
  format = "%Y-%m-%d %H:%M"
}

volume master {
  format = "♪: %volume"
  format_muted = "♪: muted (%volume)"
  device = "default"
  mixer = "Master"
  mixer_idx = 0
}

ethernet eth0 {
  # if you use %speed, i3status requires the cap_net_admin capability
  format_up = "E: %ip"
  format_down = "E: down"
}

